body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: #eee;
}

h1 {
  margin-top: 20px;
}

#mapa-container {
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  border: 2px solid #333;
}

#info {
  margin-top: 20px;
  font-size: 18px;
  color: #00ff99;
}
