body {
  background: #111;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.mapa {
  position: relative;
  width: 700px;
  height: 650px;
  margin: auto;
  background-image: url("mapaeuropa.jpg");
  background-size: cover;
  border: 2px solid #444;
}

.region {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

